.container{
    min-height:100%;
    margin: 0;
    padding: 0;

}
.container .head{
    background:#162064;  
    width:100%;
    height:600rpx;
    margin: 0;
    position: relative;
    overflow: hidden;
}
.container .head >image {
width: 600rpx;
height: 472rpx;
}
.container .ani{
    width: 300rpx;
    height: 300rpx;
    position: absolute;
    top: 50rpx;
    right: 20rpx;

}
.container .ani image{
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    overflow: hidden;
}
.container .ani .circle1{
    width: 120rpx;
    height: 120rpx;
    margin:-60rpx 0 0 -60rpx;
    z-index: 3;
}
.container .ani .circle2{
    width: 200rpx;
    height: 200rpx;
    margin:-100rpx 0 0 -100rpx;
    z-index: 2;  
    animation: rotateR 15s linear infinite; 
      
    
}
.container .ani .circle3{
    width: 250rpx;
    height: 250rpx;
    margin:-125rpx 0 0 -125rpx;
    z-index: 1;   
    animation: rotateL 15s linear infinite; 
}
.container .head .title{
    display: block;
    text-align: center;
    font-size: 40rpx;
    color: #fff;
    animation: scale1 3s infinite;
}



@keyframes rotateL{
    0%{
        transform: rotateZ(0deg)
    }
    50%{
         transform: rotateZ(180deg)
    }
    100%{
        transform: rotateZ(360deg) 
    }
}
@keyframes rotateR{
    0%{
        transform: rotateZ(0deg)
    }
    50%{
         transform: rotateZ(-180deg)
    }
    100%{
        transform: rotateZ(-360deg) 
    }
}
@keyframes scale1{
    0%{
        transform: scale(1,1);
    }
    50%{
        transform: scale(.9,.9);
    }
    100%{
              transform: scale(1,1);
    }
}