<!--index.wxml-->
<view class="container">
  <!-- <swiper class='teachers' indicator-dots="true" indicator-color="rgba(0,0,0,.6)" indicator-active-color="#fff" autoplay='true'>
    <swiper-item data-index="0" bindtap="scrollToView">
      <image  src='../../images/team/teacher1.jpg'></image>
    </swiper-item>
    <swiper-item data-index="1" bindtap="scrollToView">
      <image src='../../images/team/teacher2.jpg'></image>
    </swiper-item>
    <swiper-item data-index="2" bindtap="scrollToView">
      <image src='../../images/team/teacher3.jpg'></image>
    </swiper-item>

  </swiper> -->
  <!-- <scroll-view scroll-y style="height: 80vh;" scroll-into-view="{{toView}}" scroll-with-animation="true"> -->
    <view wx:for="{{teachers}}" id="teacher{{index+1}}"  data-index="{{index}}" bindtap='showTeacherDetail'>
      <image src='{{item.img}}' mode='aspectFit'></image>
      <view class="desc-block {{(showingID===index)&&showDesc ?'showing':''}}">
        <view class='teacher-name'>
          <text>{{item.name||''}} : </text> 
          <text> {{item.tag||''}}</text>
        </view>
        <text>{{item.desc||''}}</text>
      </view>
    </view>
  
<!-- </scroll-view> -->
</view>