<view class="container">
  <map id="map" longitude="116.348002" latitude="40.087796" scale="14" markers="{{markers}}" include-points="{{markers}}" polyline="{{polyline}}" bindmarkertap="markertap" bindregionchange="regionchange" show-location style="width: 100%; height: 300px;">
  </map>
  <view class='our-info'>
    <view bindtap='setClipboard' data-text='{{address}}'> 
        <text>地址：</text>
        <text>{{address}}</text>
    </view>
    <view bindtap="callMe" data-text='{{phoneNumber}}'>
        <text>电话：</text>
        <text>{{phoneNumber}}</text>
    </view>
    <view bindtap='setClipboard' data-text='{{qqNumber}}'>
        <text>QQ： </text>
        <text>{{qqNumber}}</text>
    </view>
    <view bindtap='setClipboard' data-text='{{transportLines}}'>
      <text>线路: </text>
      <text>{{transportLines}}</text>
    </view>
    <text class='desc'> (注：点击以上可复制或者呼叫~)</text>
  </view>
</view>